<h1> THE GAME </h1>
<p>Welcome <span id="username"><%= username %></span></p>
<p>You are in the room: <span id="roomkey"><%= roomkey %></span></p>
<p>Players in the game:</p>
<ul>
  <div class="player-list">
  </div>
</ul>

<button id="deal">Deal them cards</button>

<p>Your cards are:</p>
<div class="player-hand">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
  var userData = {
    username: "<%= username %>",
    roomkey: "<%= roomkey %>"
  }
</script>
<script type="text/template" id="handTemplate">
  <div class='hand'>
    <h1>hello</h1>
  </div>
</script>
<script type="text/javascript" id="aTemplate">
  <div class="card <%= color %>">
    <div class="rank-color">A <%= suit %></div>
    <div class="inner fg-container">
      <div class="ajqk"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">A <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="kTemplate">
  <div class="card <%= color %>">
    <div class="rank-color">K <%= suit %></div>
    <div class="inner fg-container">
      <div class="ajqk">K</div>
    </div>
    <div class="rank-color rotated-rank-color rtt">K <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="qTemplate">
  <div class="card <%= color %>">
    <div class="rank-color">Q <%= suit %></div>
    <div class="inner fg-container">
      <div class="ajqk">Q</div>
    </div>
    <div class="rank-color rotated-rank-color rtt">Q <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="jTemplate">
  <div class="card <%= color %>">
    <div class="rank-color">J <%= suit %></div>
    <div class="inner fg-container">
      <div class="ajqk">J</div>
    </div>
    <div class="rank-color rotated-rank-color rtt">J <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="10Template">
  <div class="card <%= color %>">
    <div class="rank-color">10 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two nine"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two nine rtt"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="tenth"><%= suit %></div>
      <div class="ten rtt"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">10 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="9Template">
  <div class="card <%= color %>">
    <div class="rank-color">9 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two nine"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two nine rtt"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="nineth"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">9 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="8Template">
  <div class="card">
    <div class="rank-color">8 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %> <%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="seven"><%= suit %></div>
      <div class="eight rtt"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">8 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="7Template">
  <div class="card">
    <div class="rank-color">7 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %> <%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="seven"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">7 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="6Template">
  <div class="card">
    <div class="rank-color">6 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %> <%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">6 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="5Template">
  <div class="card <%= color %>">
    <div class="rank-color">5 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %> <%= suit %></div>
      <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">5 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="4Template">
  <div class="card">
    <div class="rank-color">4 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
      <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">4 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="3Template">
  <div class="card">
    <div class="rank-color">3 <%= suit %></div>
    <div class="inner fg-container">
      <div class="three"><%= suit %><br><%= suit %></div>
      <div class="three rtt"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">3 <%= suit %></div>
  </div>
</script>
<script type="text/javascript" id="2Template">
  <div class="card <%= color %>">
    <div class="rank-color">2 <%= suit %></div>
    <div class="inner fg-container">
      <div class="two"><%= suit %></div>
      <div class="two rtt"><%= suit %></div>
    </div>
    <div class="rank-color rotated-rank-color rtt">2 <%= suit %></div>
  </div>
</script>
